.titulodiseño{
    background-image: url('https://i.pinimg.com/736x/32/30/20/3230208c66733a4476a6b1a89b20955e.jpg');
    justify-content: center;
    align-items: center;
}


.mycontainer{
    height: 100%;
    background-image: url('https://i.pinimg.com/736x/32/30/20/3230208c66733a4476a6b1a89b20955e.jpg');
    }





.tituloqr{
    text-align: center;
}

.diseñoqr {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 50vh; /* O ajusta la altura según tu diseño */
  }





