<ion-header>
  <ion-toolbar>
    <ion-title>QR</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h1>Generar QR</h1>
  </ion-text>
  
  <ion-item>
    <ion-label position="stacked">Seleccionar Clase</ion-label>
    <ion-select [(ngModel)]="clase" placeholder="Seleccione una clase">
      <ion-select-option *ngFor="let c of clases" [value]="c.cod_clase">
        {{ c.nombre }} - {{ c.cod_clase }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <br><br>
  
  <!-- Agrega el botón para generar el QR -->
  <ion-button expand="full" (click)="generarQR()">Generar QR</ion-button>
  
  <!-- Agrega el componente QR Code con el código generado -->
  <qrcode [qrdata]="qrCodeData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  
  <!-- Agrega el botón para escanear el QR -->
  <ion-button expand="full" (click)="escanearQR()">Escanear QR</ion-button>
</ion-content>
